/* ********** Custom Properties ********** */
:root {
  --bg-btn-color: #509ee3;
  --bg-our-project: #d0d0d0ff;
  --text-color: #f7f7f7ff;
  --text-second-color: #191919ff;
  --text-third-color: #2397ffff;
  --color-hamburger: #001232ff;
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2.75rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ********** Components ********** */
.btn-hamburguer > i {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-hamburger);
  border: none;
  outline: medium solid var(--color-hamburger);
  padding: 0.25rem;
}

/* ********** Carousel ********** */
.carousel {
  margin: 7rem auto 0;
  padding-top: 2rem;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--carousel-bg-color);
}

.carousel .slides {
  padding-left: 0;
  /* 100% por cada slide */
  width: 300%;
  display: flex;
  align-items: center;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  /* animation: carousel-slide 12s ease-in-out 3s; */
}

.carousel input {
  display: none;
}

.carousel label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  /* border: thin solid #000; */
  border-radius: 50%;
  background-color: #fff;
  margin: 5rem 0.5rem 0;
  cursor: pointer;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-33.33%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-66.66%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--bg-btn-color);
}

/* ********** Carousel 2********** */
.carousel2 {
  margin: 0 auto;
  /* padding-top: 2rem; */
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--bg-btn-color);
  color: #fff;
}

.carousel2 .slides2 {
  padding-left: 0;
  /* 100% por cada slide */
  width: 300%;
  display: flex;
  align-items: center;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  /* animation: carousel-slide 12s ease-in-out 3s; */
}

.carousel2 input {
  display: none;
}

.carousel2 label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  /* border: thin solid #000; */
  border-radius: 50%;
  background-color: #fff;
  margin: 5rem 0.5rem 0.75rem;
  cursor: pointer;
}

.slide2 > .img {
  /* margin-top: -5rem; */
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  z-index: 30;
}

#slide-4:checked ~ .slides2 {
  transform: translateX(0%);
}

#slide-5:checked ~ .slides2 {
  transform: translateX(-33.33%);
}

#slide-6:checked ~ .slides2 {
  transform: translateX(-66.66%);
}

#slide-4:checked ~ .slides-nav2 label#dot-4,
#slide-5:checked ~ .slides-nav2 label#dot-5,
#slide-6:checked ~ .slides-nav2 label#dot-6 {
  transform: scale(1.5);
}

/* ********** Utilities ********** */
.bg-glassmorphism {
  background: rgba(53, 76, 50, 0.4);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: 0;
  border-radius: 0.75rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.opacity-gray {
  background: rgba(76, 76, 76, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(76, 76, 76, 0.25);
  margin-top: -5rem;
  height: 90vh;
}

/* ********** Site Styles ********** */
/* ********** About ********** */
.aboutUs * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUs {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.aboutUs h3 {
  font-size: 2.55rem;
  font-weight: 700;
  color: var(--text-third-color);
}

.aboutUs p {
  font-weight: 600;
}

.aboutUs h3,
.aboutUs p {
  text-align: center;
}

.aboutUs .video {
  margin-top: 1.5rem;
  padding: 0 1rem;
  max-height: 60vh;
}

/* ********** Cards ********** */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cards img {
  display: block;
  width: 7.8rem;
  height: 10rem;
  /* margin: 0 auto; */
}

.cards-content {
  margin-top: 0.5rem;
  padding: 1.5rem;
}

.services h3 {
  font-weight: 700;
}

.services small {
  color: var(--text-third-color);
}

.services h3,
.services small {
  font-size: 2.5rem;
  text-align: center;
}

.services-content {
  padding: 0;
}

.services-content li {
  list-style: none;
  margin-top: 3.5rem;
}

.services-description {
  margin: 0 auto;
}

/* ********** Contact-Form ********** */
.contact-form {
  padding-top: 2rem;
}

.contact-form-content {
  padding: 1rem;
}

.contact-form-content > .btn {
  margin: 0 0 1rem 0;
}

.contact-form-content h3 {
  font-weight: 700;
}

.contact-form-content small {
  color: var(--text-third-color);
}

.contact-form-content h3,
.contact-form-content small {
  font-size: 1.8rem;
}

.form {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  background-color: #f3f3f3ff;
}

.form input {
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form > .btn {
  margin: 1rem 0;
  color: #fff;
}

.form > .btn:hover {
  transform: scale(0.95);
  opacity: 0.9;
  transition: none;
  box-shadow: none;
  font-weight: normal;
}

.form textarea {
  height: 20rem;
  padding: 0.8rem;
  font-family: var(--font);
  resize: none;
}

.form input,
.form textarea {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.form input::placeholder,
.form textarea::placeholder {
  font-weight: 400;
}

.form input:valid:not(.btn) {
  outline: thin solid green;
}

/* ********** Footer ********** */
.footer {
  color: #fff;
  background-color: var(--text-second-color);
}

.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
}

.footer h5 {
  font-size: 1.15rem;
}

.footer-copyright > small {
  display: block;
  margin: 1.5rem 0;
}

.footer-description small {
  color: var(--text-third-color);
}

.footer-description h6,
.footer-description small {
  font-size: 1.2rem;
}

.footer-description > small {
  display: block;
  font-size: 1rem;
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.footer-links a {
  color: #fff;
  margin-top: 0.5rem;
}

.footer-links a:hover {
  color: var(--bg-btn-color);
}

.footer-icons {
  display: flex;
  /* justify-content: space-evenly;  */
  cursor: pointer;
}

.footer-icons a {
  margin: 0 0.5rem;
  display: block;
  color: #000;
}

.footer-icons svg {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
}

/* ********** Header ********** */
.header {
  /* max-width: var(--max-width); */
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--text-color);
}

.header-mov {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  /* padding: 3.5rem; */
  color: rgba(15, 103, 141, 0.9);
}

.menu {
  position: absolute;
  left: 0;
  top: var(--header-height);
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  /* background-color: #0f678d; */
  background: rgba(15, 103, 141, 0.9);
  backdrop-filter: blur(50px);
  /* border: 1px solid rgba(15, 103, 141, 0.45); */
  border-radius: 0.5rem;
  opacity: 0;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  width: 100%;
  color: #fff;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu a:hover {
  background-color: #fff;
  color: rgb(15, 103, 141);
  font-weight: 700;
  border-radius: 0.5rem;
}

.menu a:last-of-type {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--bg-btn-color);
  color: #fff;
}

.menu a:hover:last-of-type {
  /* transform: scale(.5); */
  transition: transform 0.25s ease-in-out;
  /* box-shadow: 1px 1px 8px 2px #918686; */
  font-weight: 600;
  margin-bottom: 1rem;
}

/* ********** Our Project ********** */
.our-project {
  background-color: var(--bg-our-project);
  padding: 2rem 0;
}

.our-project h3 {
  text-align: center;
  /* margin-top: 7.5rem; */
}

.our-project small {
  color: var(--text-third-color);
}

.our-project h3,
.our-project small {
  font-size: 2.5rem;
}

.project-content {
  padding: 1rem;
  height: auto;
  position: relative;
  margin-top: 2rem;
}

.project-content a:hover {
  opacity: 1;
  /* z-index: -1; */
}


.project-content a {
  margin: 0 auto;
  position: relative;
  display: block;
  max-width: 18rem;
  margin-bottom: 1rem;
  /* z-index: -1; */
}

.project-content img ~ * {

  display: none;
}

.project-content img:hover ~ * {
  display: block;
}

.project-description {
  position: absolute;
  top: 0;
  /* left: 0; */
  color: #fff;
  height: 100%;
  /* width: -100%; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgba(0, 234, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 234, 255, 0.25);
  cursor: pointer;
}

.project-content h4 {
  /* text-align: center; */
  margin-top: 2rem;
}

.project-description p {
  font-size: 0.7rem;
}

/* ********** Principal ********** */
.btn {
  padding: 1rem 1.5rem;
  margin: 1rem;
  background-color: var(--bg-btn-color);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
  box-shadow: 1px 1px 8px 2px #918686;
  font-weight: 600;
}

.btn a {
  color: var(--text-color);
}

.principal {
  position: relative;
  top: 0;
  width: 100%;
  height: 90vh;
  background-image: url("/assets/image1.jpg");
  background-position: 0 70%;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
  padding-top: 5rem;
  margin-top: -8rem;
}

.principal-content {
  text-align: center;
  padding: 1rem;
}

.principal > article {
  min-height: 100%;
}

/* ********** Testimonials ********** */
.testimonials {
  margin-top: 5rem;
}

.content-title {
  margin: 0;
  padding: 5rem 2rem;
  background-color: var(--bg-our-project);
}

.content-title h3 {
  font-weight: 700;
}

.content-title small {
  color: var(--text-third-color);
}

.content-title p {
  text-align: center;
}

.content-title h3,
.content-title small {
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .cards {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cards img {
    padding-left: 1.5rem;
  }

  .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .content-title {
    padding-top: 8.5rem;
  }

  .footer > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-description {
    grid-column: span 2;
  }

  .footer-links-container h5:last-of-type {
    margin-top: 0;
    padding: 0;
  }

  .footer-copyright {
    grid-column: span 2;
  }
}

@media screen and (min-width: 64em) {
  .btn-hamburguer {
    display: none;
  }

  .carousel {
    margin-top: 10rem;
  }

  .header {
    margin-top: 0.5rem;
    padding: 0 12rem;
    justify-content: space-evenly;
    height: 7rem;
  }

  .header-mov a {
    /* padding-top: 3rem; */
    /* padding: 3rem; */
  }

  .header > .logo {
    padding-right: 5rem;
  }

  .menu {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    /* justify-content: ; */
    background: none;
    backdrop-filter: blur(0);
    border: none;
    opacity: 1;
    pointer-events: auto;
    font-weight: 700;
    font-size: 1.15rem;
  }

  .menu a {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    /* color: #0f678d; */
    /* color: #2bc6f7ff; */
    color: #02354bff;
  }

  .menu a:hover {
    /* background-color: #fff; */
    color: #fff;
    background-color: rgb(15, 103, 141);
  }

  .menu a:last-of-type {
    margin: 0 0 0 0.5rem;
    width: auto;
    height: auto;
    background-color: var(--bg-btn-color);
    font-size: 1rem;
    font-weight: 600;
  }

  .menu a:hover:last-of-type {
    box-shadow: 1px 1px 8px 2px #918686;
  }

  .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards {
    display: grid;
    grid-template-columns: 124px auto;
    align-items: center;
    justify-content: center;
  }

  .cards-content {
    padding: 0 0 0 0.5rem;
  }

  .project-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-form {
    padding-top: 5rem;
    font-size: 1.2rem;
  }

  .contact-form > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-form-content {
    padding-top: 25%;
  }

  .footer > .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-description {
    grid-column: span 1;
  }

  .footer-copyright {
    grid-column: span 1;
  }
}
